@model List<SistemaNotas.Models.Entidades.Estudiante_ProfesorMateria>
@{
    ViewBag.Title = "VerEstudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["estudiantes"] = "Notas de estudiantes";
}

<div class="container">
    <div class="row">
        <h1>Notas del Estudiante</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Estudiante</th>
                    <th>Estado</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nota in Model)
                {
                    <tr id="estudiante-row-@nota.IdEstudianteProfesorMateria">
                        
                        <td>@nota.NombreEstudiante</td>
                        <td>@nota.Estado</td>
                        <td>@nota.Nota</td>
                        <td>
                            <!-- En tu vista anterior -->
                            <a href="@Url.Action("ModificarNotas", "Home", new { idEstudiante = nota.IdEstudianteProfesorMateria })" class="btn btn-primary">Modificar</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Manejar clic en fila del estudiante
        $("tr[id^='estudiante-row']").click(function () {
            var estudianteId = $(this).data("estudiante-id");
            cargarDatosEstudiante(estudianteId);
        });

        // Manejar clic en enlace "Modificar"
        $(".modificar-nota").click(function (e) {
            e.stopPropagation(); // Evitar que el clic en el enlace propague al clic en la fila
        });

        function cargarDatosEstudiante(estudianteId) {
            $.ajax({
                url: '@Url.Action("CargarDatosEstudiante", "Home")', // Asegúrate de que esta ruta sea correcta
                type: 'GET',
                data: { id: estudianteId },
                success: function (data) {
                    debugger;
                    $("#Nombre").val(data.NombreEstudiante);
                    $("#Nota").val(data.Nota);
                    $("#estado").val(data.Estado);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>

